    p {
        background-color: red;
    }

    a {
        background-color: aquamarine;
    }

    div {
        background-color: rgb(112, 197, 168);
    }
    span{
        background-color: rgb(131, 123, 199);

    }
    article{
        background-color:yellow ;
    }